.background{
  background-color: #f0f0f0;
  background-size: 100%;
  height: 100vh;
  background-image: linear-gradient( to bottom right, rgb(188, 147, 26),#f0f0f0);
  /* background-image: linear-gradient(to bottom right, rgb(87, 241, 234), yellow) */
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  position: relative;
  margin-bottom: 25px;
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 75px;
  background-size: 100%;
  height: 125px;
  background-image: linear-gradient(#1abc9c,#A1F6E5);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}



.email {
  
  font-size: 16.5px;
  align-items: center;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  width: 75px;
  padding-right: 25px;
  margin-bottom:2px;
  border-bottom: 2px solid black;
}
.inputEmail {
  background-color: rgb(235, 232, 232);
  width: 20%;
  padding: 12px 13px;
  border : none;
  border-bottom: .5px solid black;
  align-self: center;
}
.inputPassword{
  background-color: rgb(235, 232, 232);
  border: none;
  padding: 12px 13px;
  width: 20%;
  border-bottom: .5px solid black;
  align-self: center;
  margin-bottom: 25px;
}
.password{
  font-size: 16.5px;
  align-items: center;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  width: 75px;
  padding-right: 25px;
}

.signInButton {
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
  align-self: center;
  margin-bottom: 15px;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
.signUpButton {
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
  align-self: center;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
.signOutButton {
  border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  transition: transform 80ms ease-in;
  
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.Auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}


